{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h3 class="mb-3">Admin Sign up</h3>
      <form method="post">
        <div class="mb-3">
          <label class="label">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="admin@company.com" required>
        </div>
        <div class="mb-3">
          <label class="label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Strong password" required>
        </div>
        <div class="mb-3">
          <label class="label">Confirm password</label>
          <input type="password" class="form-control" name="confirm" placeholder="Re-enter password" required>
        </div>
        <button class="btn btn-primary w-100">Create Admin</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
