{% extends 'base.html' %}
{% block content %}
<h2>Edit My Payment</h2>
<form method="post" class="row g-2">
  <div class="col-md-4"><input name="amount" class="form-control" value="{{ payment.amount }}" required></div>
  <div class="col-md-4"><input name="paid_date" type="date" class="form-control" value="{{ payment.paid_date }}"></div>
  <div class="col-md-4"><input name="note" class="form-control" value="{{ payment.note }}"></div>
  <div class="col-md-12 mt-2"><button class="btn btn-primary">Save</button></div>
</form>
{% endblock %}
